.navigation{
    border: solid;
    width:550px;
    background-color:grey;
}
.description{
    border: solid;
    width: 200px;
    align-items: center;
    justify-items:center;
    background-color:darkgrey;
    justify-content: space-evenly;
    align-content: space-evenly;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.lists{
    display: flex;
}